@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Card</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <p>Click the box to reveal the present, and use it as a back button.</p>
    <a href="#greeting-card"><img class="gif" src="~/photo/gift-box-dribbble-ezgif.com-gif-maker.gif" /> </a>

    <div class="card" id="greeting-card">

        <h1>Happy Birthday Babe!</h1>

        <div class="card-links">
            <a href="#send" class="send-link">Read message</a>
        </div>

        <div class="card-links">
            <a href="#video-greet" class="video-link">Video Greet</a>
        </div>

        <div class="card-links">
            <a href="#Memories" class="Photos">Our Memories</a>
        </div>
        

    </div>

    <section id="send">
        <h2></h2>
        <p class="message">
            Happy birthday babe, sorry ito lang afford kong gift sa'yo haha. So ayun ingat ka palagi,
          sana maging masaya ka sa araw ng birthday mo at sana maging masaya ka palagi sa relationship natin, I miss
          you so much, thank you sa pag intindi mo sa'kin salamat din kasi lagi kang nandiyan, grabe sobrang swerte ko sa'yo
          . I love you so much babe.
        </p>
        <p class="from">Love, Echo</p>
    </section>

    <section id="video-greet">
        
        <video class="vid" controls="controls">
            <source src="~/videogreet/win_20250531_21_16_53_pro.mp4" type="video/mp4" />
        </video>
    </section>

    <section id="Memories">
        <img class="pictures" src="~/photo/07d9868c-6422-4267-8401-385d55c720ad.jpg" />
        <img class="pictures" src="~/photo/b8e39496-d831-471e-8097-224a661ac96d.jpg" />
        <img class="pictures" src="~/photo/ca77152a-a8fc-4047-a7dd-ffb55c222354.jpg" />
        <img class="pictures" src="~/photo/395878a2-e3dc-4201-885f-8771debf59cc.jpg" />
        <img class="pictures" src="~/photo/3be3ad47-93fe-4dcb-99ab-c4adcc4b9f34.jpg" />
        <img class="pictures" src="~/photo/b17f76b3-0904-4cb0-9f90-443cf3c420d6.jpg" />
        <img class="pictures" src="~/photo/facd0593-1dd3-42fb-ba10-8a6a8bcdae1d.jpg" />
        <img class="pictures" src="~/photo/d16ad901-fcf5-411e-bfa6-9d15910c5d31.jpg" />
        <img class="pictures" src="~/photo/65fb8bef-676a-40b7-bb4f-51e2c5c1cb9a.jpg" />
        <img class="pictures" src="~/photo/91b068d5-780d-413d-867d-0549cf351442.jpg" />
        <img class="pictures" src="~/photo/f48b1f74-47b5-4765-a19b-17cdea1b2e3c.jpg" />
        <img class="pictures" src="~/photo/aad6c9d9-d917-4a8f-b4a9-defce11e13e6.jpg" />
        <img class="pictures" src="~/photo/bb4f5e58-4e85-4a2f-8526-62b4942aa24e.jpg" />
        <img class="pictures" src="~/photo/0764ced3-e7d0-4f43-914c-9648570e7df7.jpg" />
        <img class="pictures" src="~/photo/a029c72a-449e-4210-a0ab-5bf44fa172fa.jpg" />
        <img class="pictures" src="~/photo/c6408e64-59ee-424d-a3a0-f8bb62e3998c.jpg" />
        <img class="pictures" src="~/photo/d13b609c-4e8e-483a-aa24-b2087d0f25f9.jpg" />
        <img class="pictures" src="~/photo/9ebec40d-1de5-4633-bded-b0c22ea6a447.jpg" />
        <img class="pictures" src="~/photo/c27898cf-ecab-4c41-b9c7-e7ec2dac811e.jpg" />
        <img class="pictures" src="~/photo/ad3617d4-6d1a-48a7-81bd-6c1e64d59c16.jpg" />
        <img class="pictures" src="~/photo/d86c95fb-1d6d-4314-bf6b-de1530e4ee09.jpg" />
        <img class="pictures" src="~/photo/70922e6a-3f86-422b-b241-a654eb7d905d.jpg" />
        <img class="pictures" src="~/photo/51e46b9a-7702-4f90-ad82-0c3dadde9445.jpg" />
        <img class="pictures" src="~/photo/037070e7-1ce6-4215-a39d-9971f6ce342d.jpg" />
        <img class="pictures" src="~/photo/b428062f-8a88-422f-b7c5-5638259776af.jpg" />
        <img class="pictures" src="~/photo/c6408e64-59ee-424d-a3a0-f8bb62e3998c (1).jpg" />


    </section>

    <br>
  

</body>
</html>

