@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
    📸 Asset Credits
    Some GIFs, images, and birthday song used in this project were sourced during early development. If you recognize any of the original creators or sources, feel free to reach out so I can properly credit them.
</p>