html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
    background-color: lightblue;
}

a, button {
    text-decoration: none;
    text-align: center;
    position: center;
}

button:hover {
    background-color: khaki;
    transition: 0.5s ease;
}

.card {
    display: none;
    background-color: white;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    transition: transform 0.3s, background-color 0.3s ease
}

    .card:target {
        display: block;
    }

    .card:hover {
        background-color: khaki;
        transform: scale(1.1);
    }

h1::before {
    content: "🥳 ";
}

h1::after {
    content: " 🥳";
}

.message {
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
}

.card-links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

    .card-links a {
        text-decoration: none;
        font-size: 1em;
        width: 148px;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        background-color: midnightblue;
        transition: background-color 0.3s ease;
    }

        .card-links a:hover {
            background-color: orangered;
        }

        .card-links a:active {
            background-color: midnightblue;
        }

        .card-links a:focus {
            outline: 2px solid yellow;
        }


section {
    position: center;
    margin: 20px auto;
    max-width: 60vw;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    display: none;
}


section:target {
    display: block;
  
}

.from {
    text-align: right;
}

.message {
     text-align: justify;
}

.vid {
    max-width: 50vw;
    border-radius: 5px;
}

.gif {
    margin-top: 0;
    width: 30vh;
}

.pictures {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
}